div
  div.auth-form
    div.auth-form__inner
      div.auth-form__title
        div.auth-form__logo
          img.img(src='/img/acm-logo-blue-circle-filled.png')
      div.auth-form__form
        form.form(ng-submit='submitForm()', name='authForm')

          div.auth-form__row
            md-input-container
              label Логин или E-mail
              input(required, name="username", ng-model="form.login")
              div(ng-messages="authForm.login.$error")
                div(ng-message="required") Обязательное поле

          div.auth-form__row
            md-input-container
              label Пароль
              input(required, type='password', name="password", ng-model="form.password")
              div(ng-messages="authForm.password.$error")
                div(ng-message="required") Обязательное поле


          div.auth-form__row(layout='row', layout-align='space-between center', style='text-align: right;')
            md-button(ui-sref='auth.forget-password-form') Забыл пароль
            md-button.md-primary(type='submit', ng-disabled='form.login.length === 0 || form.password.length === 0') Войти

  page-footer
