div
  div.auth-form
    div.auth-form__inner

      div.register-form__success-overlay(ng-if='sent')
        div.register-form__success-icon
          md-icon(md-svg-icon="img/icons/ic_done_24px.svg")
        div.register-form__success-text(layout='column', layout-align='center center')
          span(style='text-align: center') Пароль успешно изменен
          div(style='margin-top: 12px;')
            md-button.md-primary.md-raised(ui-sref='auth.form') Войти в систему


      div.contest-creation
        div.contests-title(style='padding: 16px 0px 20px;') Смена пароля

        div.contest-creation__inner
          form.contest-creation__form(ng-submit='submitForm()', name='resetPasswordForm')

            div.auth-form__row
              md-input-container(flex)
                label Пароль
                input(required, name='password', type='password', ng-model='form.password')
                div(ng-messages='resetPasswordForm.email.$error')
                  div(ng-message='required') Поле не может быть пустым
            div.auth-form__row
              md-input-container(flex)
                label Пароль еще раз
                input(required, name='password-confirm', type='password', ng-model='form.passwordConfirm')
                div(ng-messages='resetPasswordForm.email.$error')
                  div(ng-message='required') Поле не может быть пустым

            div.auth-form__row(style='text-align: right;')
              md-button.md-primary(type='submit', ng-disabled='!form.password || form.password !== form.passwordConfirm') Сменить пароль