div.contest
  div.contest__content
    div.contest__inner
      div.contest__title-section
        h2 Решения

      div(ng-if='currentUser.isAdmin', ng-style='{"padding": "10px 0"}')
        md-fab-toolbar(md-open="toolbar.isOpen", md-direction="left")
          md-fab-trigger
            md-button.md-fab.md-primary(aria-label="menu")
              md-icon(md-svg-src="img/icons/ic_menu_48px.svg")
          md-toolbar
            md-fab-actions.md-toolbar-tools
              md-button.md-icon-button(aria-label="refresh all", style='position: relative;', ng-click='refreshAllSolutions($event)')
                md-icon(md-svg-src="img/icons/ic_history_48px.svg")

      div.status-content
        md-content
          md-nav-bar.md-primary(md-selected-nav-item="selectedTabIndex", nav-bar-aria-label="Solutions")
            md-nav-item.md-primary(md-nav-click="showSolutions('my')", name="0") Мои решения
            md-nav-item.md-primary(md-nav-click="showSolutions('all')", name="1") Все решения
            socket-status.contest__socket-status
          include contest-status/contest-status-tab-content
          include ./pagination

  page-footer