div.contest
  div.contest__content.contest__min-width
    div.contest__inner
      div.task
        div.task__title(layout='row', layout-align='start center')
          a.task__title-link(ui-sref='^.problems', qemy-i18n='contest-problems-title')
          div.task__title-delimiter
            md-icon(md-svg-src='/img/icons/ic_chevron_right_48px.svg')
          div.task__title-index(layout='row', layout-align='start center', flex)
            span(ng-bind='condition.internalSymbolIndex + ". " + condition.title + ""')

            div(layout, layout-align='end center', flex, ng-show='user.isSupervisor')
              md-button.md-icon-button(ui-sref='problems.item-version({problemId: condition.id, versionNumber: versionNumber})', aria-label='show')
                md-icon(md-svg-src='/img/icons/ic_visibility_48px.svg')
                md-tooltip Посмотреть версию {{versionNumber}}

              div(layout, layout-align='center center', ng-show='user.isAdmin', style='margin-left: 12px;')
                md-select(ng-model='versionId', style='margin: 0;', data-version-id="{{versionId}}", aria-label='versions')
                  md-option(ng-repeat='version in versions', value='{{version.uuid}}', ng-bind='version.name || ("Версия #" + version.versionNumber)')

                md-button.md-icon-button(ng-click='saveVersion()', aria-label='save')
                  md-icon(md-svg-src='/img/icons/ic_save_48px.svg')

        div.task__own(ng-if='condition.attachments')
          div(ng-if='condition.attachments.files && condition.attachments.files.length > 0 && condition.attachments.config.files_location === "top"')
            div
              h4 Файлы: {{condition.attachments.files.length}}
            include ./contest-condition-item/files
            div.markdown__divider(ng-if='!condition.attachments.config.replaced || !!condition.attachments.content.text')

        div.task__problem(ng-if='!condition.attachments.config.replaced',
        ng-class='{"task__problem-timus": condition.systemType === "timus", \
        "task__problem-sgu": condition.systemType === "sgu", \
        "task__problem-cf": condition.systemType === "cf", \
        "task__problem-acmp": condition.systemType === "acmp", \
        "task__problem-ejudge": condition.systemType === "ejudge", \
        "task__problem-yandex": condition.systemType === "yandex", \
        "task__problem-yandexOfficial": condition.systemType === "yandexOfficial", \
        "task__problem-cf_type_gym": condition.foreignProblemIdentifier.indexOf("gym") >= 0 }')
          div(ng-bind-html='condition.htmlStatement')

        div.task__own(ng-if='condition.attachments')
          div(ng-if='condition.attachments.content.text')
            div(ng-switch='condition.attachments.config.markup')
              div(ng-switch-when='markdown')
                div.markdown(marked='condition.attachments.content.text')
              div(ng-switch-default)
                p Not implemented

          div(ng-if='condition.attachments.files && condition.attachments.files.length > 0 && (!condition.attachments.config.files_location || condition.attachments.config.files_location === "bottom")')
            div.markdown__divider
            div
              h4 Файлы: {{condition.attachments.files.length}}
            include ./contest-condition-item/files


        div.task__send-layer(ng-if='contest.status !== "FINISHED" || user.isSupervisor')
          div.task__send
            md-button.md-primary(ui-sref='^.send-item({problemIndex: condition.internalSymbolIndex})') Отправить решение

  page-footer