div.contest
  div.contest__content.contest__min-width
    div.contest__inner
      div.task
        div.task__title
          a.task__title-link(ui-sref='^.problems') Условия задач
          div.task__title-delimiter
            md-icon(md-svg-src='/img/icons/ic_chevron_right_48px.svg')
          div.task__title-index
            span(ng-bind='condition.internalSymbolIndex + ". " + condition.title + ""')
            span(style='font-size: .7em', ng-if='user.isAdmin')
              | &nbsp;[
              a.link(ui-sref='problems.item({problemId: condition.id})') информация
              | ]

        div.task__own(ng-if='condition.attachments')
          div(ng-if='condition.attachments.files && condition.attachments.files.length > 0 && condition.attachments.config.files_location === "top"')
            div
              h4 Файлы: {{condition.attachments.files.length}}
            include ./contest-condition-item/files
            div.markdown__divider(ng-if='!condition.attachments.config.replaced || !!condition.attachments.content.text')

        div.task__problem(ng-if='!condition.attachments.config.replaced',
        ng-class='{"task__problem-timus": condition.systemType === "timus", \
        "task__problem-sgu": condition.systemType === "sgu", \
        "task__problem-cf": condition.systemType === "cf", \
        "task__problem-acmp": condition.systemType === "acmp", \
        "task__problem-ejudge": condition.systemType === "ejudge", \
        "task__problem-cf_type_gym": condition.foreignProblemIdentifier.indexOf("gym") >= 0 }')
          div(ng-bind-html='condition.htmlStatement')

        div.task__own(ng-if='condition.attachments')
          div(ng-if='condition.attachments.content.text')
            div(ng-switch='condition.attachments.config.markup')
              div(ng-switch-when='markdown')
                div.markdown(marked='condition.attachments.content.text')
              div(ng-switch-default)
                p Not implemented

          div(ng-if='condition.attachments.files && condition.attachments.files.length > 0 && (!condition.attachments.config.files_location || condition.attachments.config.files_location === "bottom")')
            div.markdown__divider
            div
              h4 Файлы: {{condition.attachments.files.length}}
            include ./contest-condition-item/files


        div.task__send-layer
          div.task__send
            md-button.md-primary(ui-sref='^.send-item({problemIndex: condition.internalSymbolIndex})') Отправить решение

  page-footer