div.contest
  div.contest__content.contest__min-width
    div.contest__inner
      div.contest__title-section(style='text-align: center;')
        h2 Решение #
          span(ng-bind='source.id')

      div.contest__source-row.sent-list
        include contest-status/contest-status-row

      div.source-content
        a.link(target='_blank', href='/api/contest/{{source.contestId}}/solutions/{{source.id}}/code?raw=true') Открыть чистый код в новой вкладке
        br
        br
        md-content
          div.source-content__code
            pre(style='min-height: 400px;')
              div(id="editor") {{source.sourceCode}}

  page-footer