div.contest
  div.contest__content.contest__min-width
    div.contest__inner
      div.contest__title-section
        h2 Решение #
          span(ng-bind='source.id')

      div.contest__source-row.sent-list
        include contest-status/contest-status-row

      div.source-content
        a.link(target='_blank', href='/api/contest/{{source.contestId}}/solutions/{{source.id}}/code?raw=true') Открыть чистый код в новой вкладке
        br
        br
        md-content
          link(href='/js/lib/rainbow/themes/monokai.css', rel='stylesheet', type='text/css')
          link(href='/js/lib/rainbow/themes/theme.css', rel='stylesheet', type='text/css')
          div.source-content__code(ng-if='source.id')
            pre
              code(data-language='{{source.language.languageFamily}}') {{source.sourceCode}}

  page-footer