div.contest
  div.contest__content.contest__min-width(style='padding: 0;')
    div.contest__inner
      div.contest__title-section(style="padding: 5px 22px;")
        h2(qemy-i18n='contest-problems-title')

      div.contest__conditions

        div.contest__conditions-link(ng-repeat='condition in conditions')
          a(
          ui-sref='^.problems-item({problemIndex: condition.internalSymbolIndex})',
          ng-class='{"problem-status__accepted-problem": condition.verdictStatus.accepted}'
          )
            div
              span.contest__condition-index {{condition.internalSymbolIndex}}.
              span=' '
              span.contest__condition-name {{condition.title}}
            div.contest__sytem(ng-if='user.isSupervisor')
              span.contest__system-type(ng-switch='condition.systemType')
                span(ng-switch-when='timus') Timus
                span(ng-switch-when='cf') Codeforces
                span(ng-switch-when='acmp') ACMP.ru
                //span(ng-switch-when='sgu') SGU Online Judge
                span(ng-switch-when='ejudge') ejudge
                span(ng-switch-when='yandex') Яндекс.Контест
                span(ng-switch-when='yandexOfficial') Яндекс.Контест (Official)
          div.contest__condition-send-button-wrap(layout, layout-align='center center')
            md-button.md-icon-button.md-primary(aria-label='Отправить решение', ng-if='contest.status !== "FINISHED" || user.isSupervisor', ui-sref='contest.send-item({problemIndex: condition.internalSymbolIndex})')
              md-tooltip(md-direction="left", qemy-i18n='contest-problems-send')
              md-icon(md-svg-src='/img/icons/ic_send_48px.svg')
          div.contest__condition-view-button-wrap(layout, layout-align='center center')
            md-button.md-icon-button(aria-label='View problem', ng-click="showProblem($event, condition)")
              md-tooltip(md-direction="left", qemy-i18n='contest-problems-fast-view')
              md-icon(md-svg-src='/img/icons/ic_visibility_48px.svg')
          div.contest__condition-status-button-wrap(layout, layout-align='center center')
            div(aria-label='Problem status')
              div.problem-status.problem-status__accepted(ng-if='condition.verdictStatus.accepted')
                md-tooltip(md-direction="left", qemy-i18n='contest-problems-solved')
                md-icon(md-svg-src='/img/icons/ic_done_48px.svg')
              div.problem-status.problem-status__wrong(ng-if='!condition.verdictStatus.accepted && condition.verdictStatus.wrongsNumber > 0')
                md-tooltip(md-direction="left", qemy-i18n='contest-problems-not-solved')
                span {{condition.verdictStatus.wrongsNumber}}

        div.contest__conditions_add(ng-if='user.isSupervisor')
          md-button(md-no-ink, ng-click='addNewProblemDialog($event)')
            md-icon(md-svg-src='/img/icons/ic_add_48px.svg')
            span(style='margin-left: 10px;', qemy-i18n='contest-problems-add-task')

  page-footer