md-bottom-sheet.md-grid(layout='column')
  md-subheader(ng-cloak) Ошибка компиляции
  div(ng-cloak='')
    div.markdown(style='white-space: pre;', marked='"``` " + solution.compilationError + " ```"')