md-bottom-sheet.md-grid(layout='column')
  md-subheader(ng-cloak)
    span(qemy-i18n='contest-solutions-compilation-error')
  div(ng-cloak='')
    div.markdown(style='white-space: pre;', marked='"``` " + solution.compilationError + " ```"')