div.sent-list
  div.sent-list__item.sent-list__header
    div.sent-list__cell
      span ID
    div.sent-list__cell
      span Время
    div.sent-list__cell
      span Участник
    div.sent-list__cell.sent-list__cell-task
      span Задача
    div.sent-list__cell
      span Язык
    div.sent-list__cell
      span Вердикт
    div.sent-list__cell
      span Номер теста
    div.sent-list__cell
      span Время исполнения
    div.sent-list__cell
      span Память
    div.sent-list__cell(ng-if='currentUser.isAdmin', style='max-width: 60px;')
      span &nbsp;

  include contest-status-row

  div.no-sents(ng-if='solutions.length === 0 && !loadingData')
    span(ng-if='all_items_count === 0') Решения отсутствуют
    div(ng-if='all_items_count > 0', style='display: inline-block;')
      div.content-spin__layer
        div.search-spin-layer_
          div.search-spin

  div.no-sents(ng-if='loadingData')
    div(style='display: inline-block;')
      div.content-spin__layer
        div.search-spin-layer_
          div.search-spin