md-toast(style="white-space: nowrap")
  span(flex)
    span(style='color: #FF5722; font-weight: bold') Ошибка:&nbsp;
    span {{errorMessage}}
  md-button.md-accent(style='color: #FF5722;', ng-click="closeToast()") Ok