div
  div.contest__content.contest__min-width
    div.contest__inner
      div.task
        div.task__title
          div.task__title-index
            span(ng-cloak, style='color: #777; font-size: .9em; text-transform: uppercase;')
             | Файл: {{ condition.title }}
            div(style='margin: 10px 0;')
              md-button.md-primary.md-raised(style='margin-left: 0;', ng-if='user.isAdmin && condition.versionNumber === condition.latestVersionNumber', ui-sref='admin.problems-edit({ problemId: condition.id })')
                md-icon(md-svg-src='/img/icons/ic_mode_edit_48px.svg', style='margin-right: 5px;')
                span Редактировать
              md-button.md-primary.md-raised(ng-if='user.isAdmin && condition.versionNumber === condition.latestVersionNumber', ng-disabled='rescanning', ng-click='refreshProblem(condition)')
                md-icon(md-svg-src='/img/icons/ic_autorenew_48px.svg', style='margin-right: 5px;')
                span Обновить условие
              md-button.md-primary.md-raised(ng-if='user.isAdmin', ng-disabled='condition.versionNumber === condition.latestVersionNumber', ng-click='rollbackVersion(condition)')
                md-icon(md-svg-src='/img/icons/ic_replay_48px.svg', style='margin-right: 5px;')
                span Восстановить версию \#{{ condition.versionNumber }}

        div.problem-info(style='margin-top: 15px;')
          div.problem-info__content
            div.problem-info__title Мета данные
            div.problem-info__inner
              div.problem-info__row
                div.problem-info__cell ID
                div.problem-info__cell {{ condition.id }}
              div.problem-info__row
                div.problem-info__cell Проверяющая система
                div.problem-info__cell(style='text-transform: uppercase;') {{ condition.systemType }}
              div.problem-info__row
                div.problem-info__cell Системный ID
                div.problem-info__cell {{ condition.foreignProblemIdentifier }}
              div.problem-info__row(ng-if='condition.sourceUrl')
                div.problem-info__cell Источник
                div.problem-info__cell(style='word-break: break-all;')
                  a.link(target='_blank', ng-href='{{ condition.sourceUrl }}') {{ condition.sourceUrl }}
              div.problem-info__row
                div.problem-info__cell Создана
                div.problem-info__cell {{ condition.createdAt | date:'medium' }}
              div.problem-info__row
                div.problem-info__cell Обновлена
                div.problem-info__cell {{ condition.updatedAt | date:'medium' }}
              div.problem-info__row
                div.problem-info__cell Связанные контесты
                div.problem-info__cell
                  span(ng-if='condition.connectedContests.length === 0') —
                  div.problem-info__contests(ng-if='condition.connectedContests.length > 0')
                    md-button.md-primary(ng-repeat='contest in condition.connectedContests', ui-sref='contest.item({contestId: contest.id})', join-contest, contest='contest')
                      | \#{{ contest.id }}
                      md-tooltip {{ contest.name }}
              div.problem-info__row
                div.problem-info__cell Версия
                div.problem-info__cell
                  span {{ condition.versionNumber }}

          div(ng-if='condition.versions.length')
            div.problem-info__title(style='margin-top: 20px;') Версии
            div.problem-info__versions
              a.problem-info__version(ng-repeat='version in condition.versions', ui-sref='problems.item-version({problemId: condition.id, versionNumber: version.versionNumber})', ng-class='{"problem-info__version_selected": version.versionNumber == versionNumber || (!versionNumber && condition.versionNumber === version.versionNumber), "problem-info__version_current": version.versionNumber === condition.latestVersionNumber}')
                div.problem-info__version-number {{ version.versionNumber }}
                md-tooltip Версия \#{{ version.versionNumber }} {{ version.versionNumber === condition.latestVersionNumber ? '[Текущая]' : '' }}

        div.task__own(ng-if='condition.attachments')
          div(ng-if='condition.attachments.files && condition.attachments.files.length > 0 && condition.attachments.config.files_location === "top"')
            div
              h4 Файлы: {{condition.attachments.files.length}}
            include ../contest-item/contest-condition-item/files
            div.markdown__divider(ng-if='!condition.attachments.config.replaced || !!condition.attachments.content.text')

        div.task__problem(ng-if='!condition.attachments.config.replaced',
        ng-class='{"task__problem-timus": condition.systemType === "timus", \
        "task__problem-sgu": condition.systemType === "sgu", \
        "task__problem-cf": condition.systemType === "cf", \
        "task__problem-acmp": condition.systemType === "acmp", \
        "task__problem-ejudge": condition.systemType === "ejudge", \
        "task__problem-cf_type_gym": condition.foreignProblemIdentifier.indexOf("gym") >= 0 }')
          div(ng-bind-html='condition.htmlStatement')

        div.task__own(ng-if='condition.attachments')
          div(ng-if='condition.attachments.content.text')
            div(ng-switch='condition.attachments.config.markup')
              div(ng-switch-when='markdown')
                div.markdown(marked='condition.attachments.content.text')
              div(ng-switch-default)
                p Not implemented

          div(ng-if='condition.attachments.files && condition.attachments.files.length > 0 && (!condition.attachments.config.files_location || condition.attachments.config.files_location === "bottom")')
            div.markdown__divider
            div
              h4 Файлы: {{condition.attachments.files.length}}
            include ../contest-item/contest-condition-item/files

  page-footer