div
  div.standart-layer(style='border-bottom-left-radius: 0; border-bottom-right-radius: 0;')
    h2(style='margin: 0', ng-if='user.isAdmin') Чат с пользователями
    h2(style='margin: 0', ng-if='!user.isSupervisor') Чат с администратором

  div.standart-layer(style='padding: 0; border-top-left-radius: 0; border-top-right-radius: 0; overflow: hidden;')
    div.standart-layer__content(style='overflow: hidden;')
      chat-app

  page-footer
