div.dialogs
  div.dialogs__search
    input(name='search', autocomplete='off', ng-model='dialogsSearch', placeholder='Поиск по диалогам')
  div.dialogs__items
    chat-dialogs-item(ng-repeat="dialogItem in dialogs | dialogsSearchFilter:dialogsSearch:dialogsIndex:peerIdNumber")