a.dialogs-item(ng-click='select(dialogItem.peer.id)', ui-sref='chat.peer({peerId: dialogItem.peer.id})', ng-class='{"dialogs-item_active": peerId == dialogItem.peer.id || selectedPeerId == dialogItem.peer.id}')
  div.dialogs-item__inner
    div.dialogs-item__avatar
      div.md-avatar.group-users__user-photo(ng-class='{"group-users__user-photo_type_admin": dialogItem.peer.isAdmin}')

    div.dialogs-item__message
      div.dialogs-item__title {{ dialogItem.peer.fullName }}
      div.dialogs-item__last-message {{ dialogItem.headMessage.message }}

    div.dialogs-item__time {{ dialogItem.headMessage.postAtMs | date:'dd.MM.yyyy в HH:mm' }}