div.dialog-input
  input.dialog-input__input(placeholder='Введите сообщение...')
  md-button.md-primary.dialog-input__send(class="md-icon-button", aria-label="Send")
    md-icon(md-svg-icon="img/icons/ic_send_24px.svg")