extends ../_layout

block content
  page-header.header(ng-cloak)
  page-content.page(ng-cloak)
    div.content(ui-view)

  +js_list([
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
    'bower_components/angular/angular.min.js',
    'bower_components/angular-route/angular-route.min.js',
    'bower_components/angular-sanitize/angular-sanitize.min.js',
    'bower_components/angular-ui-router/release/angular-ui-router.min.js',
    'bower_components/angular-material/angular-material.min.js',
    'bower_components/angular-animate/angular-animate.min.js',
    'bower_components/angular-aria/angular-aria.min.js',
    'bower_components/angular-messages/angular-messages.min.js',
    'bower_components/marked/marked.min.js',
    'bower_components/angular-marked/dist/angular-marked.min.js',
    'bower_components/ng-file-upload/ng-file-upload-all.min.js',
    'bower_components/ace-builds/src-min-noconflict/ace.js',
    'bower_components/ace-builds/src-min-noconflict/ext-searchbox.js',
    'bower_components/ace-builds/src-min-noconflict/ext-spellcheck.js',
    'bower_components/ace-builds/src-min-noconflict/ext-error_marker.js',
    'bower_components/ace-builds/src-min-noconflict/ext-language_tools.js',
    'bower_components/ace-builds/src-min-noconflict/ext-settings_menu.js',
    'bower_components/ace-builds/src-min-noconflict/ext-keybinding_menu.js',
    'bower_components/ace-builds/src-min-noconflict/ext-textarea.js',
    'bower_components/highcharts/highcharts.js',
    'bower_components/highcharts/highcharts-more.js',
    '//apis.google.com/js/client.js',
    '//apis.google.com/js/api.js',
    'bower_components/angular-google-picker/dist/google-picker.min.js',
    'vendor/katex/katex.min.js',
    'vendor/ion.sound/ion.sound.js',
    'vendor/froala-angular/angular-froala.js',
    'vendor/froala-angular/froala-sanitize.js',
    'vendor/froala-editor/js/froala_editor.min.js',
    'vendor/froala-editor/js/plugins/colors.min.js',
    'vendor/froala-editor/js/plugins/emoticons.min.js',
    'vendor/froala-editor/js/plugins/font_size.min.js',
    'vendor/froala-editor/js/plugins/link.min.js',
    'vendor/froala-editor/js/plugins/lists.min.js',
    'vendor/froala-editor/js/plugins/paragraph_format.min.js',
    'vendor/froala-editor/js/plugins/paragraph_style.min.js',
    'vendor/froala-editor/js/plugins/quote.min.js',
    'vendor/froala-editor/js/plugins/url.min.js',
    'vendor/froala-editor/js/plugins/word_paste.min.js',
    'vendor/froala-editor/js/plugins/image.min.js',
    'vendor/froala-editor/js/plugins/image_manager.min.js',
    'vendor/froala-editor/js/plugins/video.min.js',
    'vendor/froala-editor/js/plugins/table.min.js',
    'vendor/froala-editor/js/plugins/quick_insert.min.js',
    'vendor/froala-editor/js/plugins/special_characters.min.js',
    'vendor/froala-editor/js/third_party/font_awesome.min.js',
    'vendor/froala-editor/js/plugins/help.min.js',
    'vendor/froala-editor/js/plugins/draggable.min.js',
    'vendor/froala-editor/js/plugins/code_view.min.js',
    'vendor/froala-editor/js/plugins/code_beautifier.min.js',
    'vendor/froala-editor/js/plugins/align.min.js',
    'vendor/froala-editor/js/plugins/print.min.js',
    'vendor/froala-editor/js/plugins/inline_class.min.js',
    'vendor/froala-editor/js/plugins/inline_style.min.js',
    'vendor/froala-editor/js/languages/ru.js',
    'prod/js/build.prod.min.js?1.3.1'
  ])