extends ../_layout

block content
  page-header.header(ng-cloak, sticky-header)
  page-content.page(ng-cloak)
    div.content(ui-view)

  +js_list([
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js',
    'bower_components/angular/angular.min.js',
    'bower_components/angular-route/angular-route.min.js',
    'bower_components/angular-sanitize/angular-sanitize.min.js',
    'bower_components/angular-ui-router/release/angular-ui-router.min.js',
    'bower_components/angular-material/angular-material.min.js',
    'bower_components/angular-animate/angular-animate.min.js',
    'bower_components/angular-aria/angular-aria.min.js',
    'bower_components/angular-messages/angular-messages.min.js',
    'bower_components/marked/marked.min.js',
    'bower_components/angular-marked/dist/angular-marked.min.js',
    'bower_components/ng-file-upload/ng-file-upload-all.min.js',
    'bower_components/ace-builds/src-min-noconflict/ace.js',
    'bower_components/ace-builds/src-min-noconflict/ext-searchbox.js',
    'bower_components/ace-builds/src-min-noconflict/ext-spellcheck.js',
    'bower_components/ace-builds/src-min-noconflict/ext-error_marker.js',
    'bower_components/ace-builds/src-min-noconflict/ext-language_tools.js',
    'bower_components/ace-builds/src-min-noconflict/ext-settings_menu.js',
    'bower_components/ace-builds/src-min-noconflict/ext-keybinding_menu.js',
    'bower_components/ace-builds/src-min-noconflict/ext-textarea.js',
    'bower_components/highcharts/highcharts.js',
    'bower_components/highcharts/highcharts-more.js',
    'vendor/katex/katex.min.js',
    'vendor/ion.sound/ion.sound.js',
    'prod/js/build.min.js?0.9.3'
  ])