@import "../helpers/all";

.chat-app {
  position: relative;

  &__inner {
    @extend %ab-layer-flex;
    flex-direction: row !important;
  }

  &__dialogs {
    min-width: 300px;
    max-width: 300px;
    flex: 1 0 100%;
    border-right: 1px solid #ccc;
  }

  &__messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-bottom: 62px;
    background: url('/img/chat-bg.png') repeat-y;
    background-size: 150%;
  }

  &__dialog-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 2px 0px rgba(0,0,0,.1);
  }
}