@import "../helpers/all";

.dialogs {
  width: 100%;
  height: 100%;
  display: block;

  &__search {
    padding: 12px;
    border-bottom: 1px solid #ccc;

    input {
      padding: 7px 16px;
      background: #efefef;
      border: 0;
      font-weight: 100;
      font-size: .95em;
      line-height: 1.5;
      width: 100%;
      box-sizing: border-box;
      transition: all .2s ease-in-out;
      border-radius: 3px;
      outline-color: var(--theme-color);

      &:focus {
        background: white;
      }
    }
  }

  &__items {
    max-height: 509px;
    height: 509px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__search-title {
    padding: 6px 12px;
    background-color: #efefef;
    color: #5d5d5d;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}