@import "../helpers/all";

.dialog-input {
  padding: 8px 60px 8px 8px;
  box-sizing: border-box;
  background: white;
  position: relative;

  &__input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 0;
    outline: none;

    &:focus {
      ::-webkit-input-placeholder {
        color: #ccc;
      }
    }
  }

  &__send {
    position: absolute;
    right: 4px;
    top: 11px;

    md-icon {
      position: relative;
      left: 2px;
    }
  }

  md-input-container {
    margin: 0;
    margin-top: 12px;

    .md-errors-spacer {
      display: none;
    }

    textarea {
      border: 0;
      max-height: 200px;
      overflow-y: auto;
    }
  }

  md-input-container .md-placeholder,
  md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    transform: translate3d(0,20px,0) scale(1) !important;
  }

  md-input-container.md-input-focused label:not(.md-no-float),
  md-input-container.md-input-has-value label:not(.md-no-float) {
    transform: translate3d(0,6px,0) scale(.75) !important;
  }

}