@import "../helpers/all";

.dialog-messages {
  max-height: 508px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 4px;

  &__typing {
    padding: 8px 12px 2px;
    font-size: .8em;
    color: rgba(125, 130, 132, 0.72);

    md-icon {
      position: relative;
      top: 2px;
      color: #999;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__no-messages {
    text-align: center;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 63px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;

    > div {
      display: inline-block;
      max-width: 50%;
      padding: 6px 12px;
      background-color: transparentize(black, .85);
      border-radius: 36px;
      color: white;
      font-size: .8em;
    }
  }
}