div.header__wrapper
  div.header__inner
    a.link.logo(ui-sref='contests.list', ng-click='logoClick($event)', style='{{ !isMainLogo ? "top: 9px;" : "" }}')
      div.logo__content
        div.logo__image-wrapper
          img.img.logo__img(src='{{ !isMainLogo ? "/img/school-misis.png" : "/img/acm-logo-2.svg" }}')
    include ./profile
    include ./chat
div.header__contest-menu.contest-menu(ng-if='headerMenu.contest')
  div.contest-menu__layer
    div.contest-menu__items
      a.contest-menu__item(ui-sref='^.item', ui-sref-active='contest-menu__item_state_active', qemy-i18n='contest-about-title')
      a.contest-menu__item(ui-sref='^.table', ui-sref-active='contest-menu__item_state_active', ng-class='{"contest-menu__item_state_active": $state.includes("contest.table")}', qemy-i18n='contest-table-title')
      a.contest-menu__item(ui-sref='^.problems', ui-sref-active='contest-menu__item_state_active', qemy-i18n='contest-problems-title')
      a.contest-menu__item(ui-sref='^.send', ng-class='{"contest-menu__item_state_active": $state.includes("contest.send-item") || $state.includes("contest.send")}', ng-if='headerMenu.contest.status !== "FINISHED" || user.isSupervisor', qemy-i18n='contest-send-title')
      a.contest-menu__item(ui-sref='^.solutions({select: "my"})', ng-class='{"contest-menu__item_state_active": $state.includes("contest.solutions")}', qemy-i18n='contest-solutions-title')
      a.contest-menu__item(ui-sref='^.messages', ng-class='{"contest-menu__item_state_active": $state.includes("contest.messages")}', ng-if='user.isSupervisor', qemy-i18n='contest-notifications-title')
      a.contest-menu__item(ui-sref='admin.edit-contest({contestId: headerMenu.contest.id})', ng-if='user.isSupervisor', qemy-i18n='contest-edit-title')
