div.header__profile.profile(ng-if='isAuth')
  md-menu(md-offset="-50 79")
    div.profile__panel(ng-click="$mdOpenMenu($event)")
      div.profile__name
        md-icon(md-svg-src="/img/icons/ic_account_circle_48px.svg")
        span {{ user.firstName + " " + user.lastName }}
      div.profile__unread-messages(ng-if='unreadChatMessagesNumber > 0') {{ unreadChatMessagesNumber }}
    md-menu-content(width="4")
      div(ng-repeat="item in menuList", ng-switch='item.type', ng-if='!item.onlyFor || item.onlyFor === user.accessGroup.mask || [].concat(item.onlyFor).includes(user.accessGroup.mask)')
        div(style='height: 6px;', ng-switch-default)
          md-menu-divider(style='display: block;')
        md-menu-item(ng-switch-when='item')
          md-button(ng-click="profileItemClick($event, item, $index)", aria-label='Menu item', ng-class="item.className")
            md-icon(md-svg-src="{{item.iconSrc}}", ng-style="{top: '-1px', position: 'relative'}")
            span(ng-bind='item.name')
            div.profile__unread-messages(ng-if='item.counter') {{ unreadChatMessagesNumber }}
