div.contest
  div.contest__content
    div.contest__inner
      div.contest__title-section(style='padding-left: 0;')
        h2.contests-title.admin-title(style='padding-left: 0;')
          span(ng-if='user.isAdmin') Панель администратора
          span(ng-if='user.isModerator') Панель управления

      div.admin-content
        div.admin-content__menu
          admin-menu

        div.admin-content__inner
          div.ui-view
  page-footer