div.admin-content-layer(style='padding: 0')
  div.admin-content-layer__inner

    md-tabs(md-dynamic-height, md-border-bottom)
      md-tab(label='Задачи')
        md-content.md-padding
          include ./problems/index

      md-tab(label='Сканирование')
        md-content.md-padding
          include ./problems/scan/index

      md-tab(label='Ejudge Импорт')
        md-content.md-padding
          include ./problems/create

      md-tab(label='ACMP Импорт')
        md-content.md-padding
          include ./problems/acmp-create

      md-tab(label='Яндекс.Контест импорт по ссылке')
        md-content.md-padding(ng-controller='AdminYandexContestImportByLinkController')
          include ./problems/yandex/import-by-link

      md-tab(label='Яндекс.Контест Полигон')
        md-content.md-padding(ng-controller='AdminYandexContestImportController')
          include ./problems/yandex/import-polygon