div.admin-content-layer(style='padding: 0')
  div.admin-content-layer__inner

    md-tabs(md-dynamic-height, md-border-bottom)
      md-tab(label='Сканирование')
        md-content.md-padding
          include ./problems/scan/index

      md-tab(label='Редактирование')
        md-content.md-padding
          include ./problems/index

      md-tab(label='Добавить задачу (ejudge)')
        md-content.md-padding
          include ./problems/create