div.admin-content-layer(style='background-color: #ECECEC;')
  div.admin-content-layer__inner

    div.contests-list
      div(layout='row', layout-align="space-between center")
        div(flex).contests-title Мои группы
        md-button(flex="nogrow").md-raised.md-primary(ui-sref='admin.groups.create') + Создать группу

      div.contests-list__pagination(ng-if='pageNumber !== 1')
        include ./pagination
      div.groups
        div.groups__items(flex, layout='row', layout-fill, layout-wrap)
          include ./list-item


    include ./pagination