md-dialog(aria-label='Add file')
  form(name='fileForm')
    md-toolbar
      div.md-toolbar-tools
        h2 Добавить файл
        span(flex)
        md-button.md-icon-button(ng-click='close()', aria-label='Close dialog')
          md-icon(md-svg-src='/img/icons/ic_close_48px.svg')
    md-dialog-content(style='min-width: 500px;')
      div.md-dialog-content(style='background: #f0f0f0')

        md-content.md-whiteframe-1dp(style='background: #fff; padding: 12px;')
          div.contest-creation__row
            div.contest-creation__row-title Выбрать файл из Google Drive
            md-button.md-primary.md-raised(lk-google-picker, on-picked="onPicked(docs)", aria-label='File picker')
              md-icon(md-svg-src='/img/icons/ic_cloud_circle_48px.svg', style='margin-right: 5px; position: relative; top: 0px;')
              span Google Drive

        div(style='padding: 24px 0 12px; text-align: center; color: #777;') Или заполнить вручную

        md-content.md-whiteframe-1dp(style='background: #fff; padding: 12px; margin-top: 16px;')
          div.contest-creation__row
            div.contest-creation__row-title Ссылка на файл
            md-input-container
              label URL файла
              input(required, name='url', ng-model='file.url')
              div(ng-messages='fileForm.url.$error')
                div(ng-message='required') Поле не может быть пустым.

          div.contest-creation__row
            div.contest-creation__row-title Имя файла (необязательно)
            md-input-container
              label Заголовок файла
              input(name='title', ng-model='file.title')
              div(ng-messages='fileForm.title.$error')
                div(ng-message='required') Поле не может быть пустым.

          div.contest-creation__row
            div.contest-creation__row-title Тип файла
            span.sublabel Выберите тип файла
            div(layout, layout-sm="column")
              md-input-container.contest-creation__field-inline-fix(flex='4')
                Label Тип
                md-select(ng-model='file.type')
                  md-option(ng-repeat='type in types', value='{{type}}', ng-bind='type')

    md-dialog-actions(layout='row')
      md-button(ng-click="close()")
        | Отмена
      md-button(ng-click="save()")
        | Добавить